@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

li {
	border: 1px solid black;
	color: black;
	background-color: #ADD8E6;
	list-style-type: none; /* Remove bullets */
}

#business_list {
overflow:auto;
}

#contacts {
overflow:auto;

}

#tickets {
overflow:auto;


}