@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.4em;
}

.list {
    margin: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: rgb(23, 43, 77);
    background-color: #0079bf;
    border-radius: 3px;
    box-sizing: border-box;
    white-space: normal;
    justify-content: center;
}

.ticket {
    overflow: hidden;
    border-radius: 3px;
    margin-top: 0.2em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}

.add_form {
    margin: 2em;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
}

#business_list {
overflow:auto;
}

#contacts {
overflow:auto;
}

#tickets {
overflow:auto;
}

.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color: #0066ff;
    text-align:center;
    transition: all 0.2s;
    font-size: 2em;
}
.button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    .button{
        display:block;
        margin:0.4em auto;
    }
}